---
---

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

html,
body
  margin: 0
  padding: 0

// FORMATTING AND COLORS 

html
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 18px
  font-weight: 400
  line-height: 1.6

  @media (min-width: 38em) 
    font-size: 20px

body
  color: #000
  background-color: #fff
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

p
  color: #555

a
  color: #268bd2
  text-decoration: none

  &:hover,
  &:focus
    text-decoration: underline

h1, h2, h3, h4, h5, h6
  margin-top: 0
  margin-bottom: .5rem
  font-weight: 600
  line-height: 1.1
  letter-spacing: -.025rem

h1
  font-size: 2rem

h2
  font-size: 1.6rem

h3
  font-size: 1.3rem

h4, h5, h6
  font-size: 1rem

p
  margin: 0 0 1rem

ul, ol, dl
  margin-top: 0
  margin-bottom: 1rem

dt
  font-weight: bold

dd
  margin-bottom: .5rem

ul
  list-style: inside circle
  padding-left: 0

  li
    margin-bottom: .25rem

  ul,
  ol
    margin-top: .25rem
    margin-bottom: .5rem

ol
  list-style: inside decimal
  padding-left: 0

  li
    margin-bottom: .25rem

  ul,
  ol
    margin-top: .25rem
    margin-bottom: .5rem

p + h1, p + h2, p + h3,
ul + h1, ul + h2, ul + h3,
ol + h1, ol + h2, ol + h3
  margin-top: 1.5rem

hr
  border: 0
  border-top: .5px solid #eee
  border-bottom: .5px solid #eee
  margin: 1.5rem auto

strong
  color: #000
  font-weight: 600

abbr
  font-size: 85%
  font-weight: bold
  color: #555
  text-transform: uppercase

abbr[title]
  cursor: help
  border-bottom: 1px dotted #e5e5e5

blockquote
  padding: 0 0 0 1.5rem
  margin: 0 2rem 1rem 0
  color: #999
  border-left: .5rem solid #e5e5e5

  p:last-child
    margin-bottom: 0

code,
pre
  font-family: Menlo, Monaco, "Courier New", monospace

code
  padding: .25em .5em
  font-size: 85%
  color: #bf616a
  background-color: #f9f9f9
  border-radius: 3px

pre
  display: block
  margin-top: 0
  margin-bottom: 1rem
  padding: 1rem
  font-size: .8rem
  line-height: 1.4
  overflow-x: auto // do not break code lines
  background-color: #f9f9f9

pre code
  padding: 0
  font-size: 100%
  color: inherit
  background-color: transparent

.highlight
  margin-bottom: 1rem
  border-radius: 4px

.highlight pre
  margin-bottom: 0

.gist .gist-file
  font-family: Menlo, Monaco, "Courier New", monospace !important

.gist .markdown-body
  padding: 15px

.gist pre
  padding: 0
  background-color: transparent

.gist .gist-file .gist-data
  font-size: .8rem !important
  line-height: 1.4

.gist code
  padding: 0
  color: inherit
  background-color: transparent
  border-radius: 0

img
  display: block
  max-width: 100%
  margin: 0 0 1rem
  border-radius: 5px

table
  margin-bottom: 1rem
  width: 100%
  border: 1px solid #e5e5e5
  border-collapse: collapse

td,
th
  padding: .25rem .5rem
  border: 1px solid #e5e5e5

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th
  background-color: #f9f9f9

.lead
  font-size: 1.25rem

// PAGE LAYOUT 

body
  width: 100%
  padding: 1rem
  padding-top: 7rem
  display: grid

  grid-template-columns: 4.7rem 30rem
  grid-template-rows: auto auto auto
  grid-template-areas: "logo  header" "....  content" "....  footer"

  column-gap: 2rem

  justify-content: center
  align-content: start


#logo
  grid-area: logo
  justify-self: stretch
  align-self: stretch

header
  grid-area: header
  justify-self: start
  align-self: stretch

main
  grid-area: content
  justify-self: start
  align-self: start

#footer
  grid-area: footer
  justify-self: start
  align-self: start

@media (max-width: 50rem)
  body
    display: block
    // margin: 1rem
    margin-top: 2rem

  #logo
    position: absolute
    top: 0 
    left: 0
    width: 100vw
    height: 100vw
    transform: scale(0.8)
    opacity: 0.04
    pointer-events: none

  main
    margin-top: 2rem

#mask
  display: none
  width: 100%
  height: 100%
  position: absolute
  pointer-events: none
  top: 0
  left: 0

@media (min-width: 50rem)
  #mask
    display: block
    overflow: hidden

    div
      position: absolute
      width: 200vw
      height: 200vh
      top: 0
      left: 14vw
      background-color: white
      animation: rotate 0.2s ease-in normal forwards
      transform-origin: 0 7rem
      // box-shadow: 400px 400px 0 0 #fff // fake motion blur

@keyframes rotate
  from
    transform: rotate(0deg)
  to
    transform: rotate(-90deg)
    // visibility: hidden

#logo
  transform: scale(0.9)

  img
    animation: introduce 0.1s ease-in normal forwards

@keyframes introduce
  from
    transform: scale(1.3) translate(0,0) rotate(100deg)

  to
    opacity: 1
    transform: scale(1) translate(0,0) rotate(0)

header
  h1
    font-size: 3rem
    
  h1, a
    margin: 0
    margin-right: 0.5rem

  .title
    font-weight: 600
    text-transform: uppercase

    a
      color: #000

      &:hover,
      &:focus
        text-decoration: none

    span
      color: #ddd

  .small.title
    margin-bottom: .75rem
    font-size: .75rem
    font-weight: 600
    text-transform: uppercase

    a
      color: #000

      &:hover, &:focus
        text-decoration: none

  nav a
    color: #aaa
    font-weight: 400
    text-transform: lowercase

    &:hover, &:focus
      color: #000
      text-decoration: none

    + a
      margin-left: .25rem

.post
  &-title
    margin-bottom: .25rem

  &-date
    margin-bottom: 2rem
    font-size: .75rem
    text-transform: uppercase

.list
  &-post-title
    margin-bottom: .25rem

    a
      color: #000
      text-decoration: none

  &-post-date
    margin-bottom: 1rem
    font-size: .8rem
    text-transform: uppercase
    color: #aaa

.projects-list
  a
    color: #000

h2.landing-section
  margin-top: 2em
  margin-bottom: 1em
  color: #eee


a.project
  color: #000
  text-decoration: none 
  
  p
    font-size: 0.9rem
    color: #aaa
    
  h3
    margin-bottom: 0.1rem

#footer
  padding-top: 40vh
  font-size: 1rem
  padding-bottom: 1em
  .footer-item
    color: #888
    text-transform: uppercase


// TODO is this even required?
@import 'syntax' 